@model TemplateAdding.Models.Register
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 style="color:blue;text-align:center">REGISTER</h1><br/><br/><br/>

<h1 style="color:green">@Model.Name</h1><br/>
<h1  style="color:green">@Model.Birthdate</h1><br/>
<h1 style="color:green">@Model.Gender</h1><br/>
<h1 style="color:green">@Model.Email</h1><br/>
<h1 style="color:green">@Model.Phone</h1><br/>

