
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}

<h1 style="color:blue;text-align:center">REGISTER</h1><br/><br/><br/>


<h1 style="color:green">@Model.Name</h1><br/>
<h1 style="color:green">@Model.Father_name</h1><br/>
<h1 style="color:green">@Model.Address</h1><br/>
<h1 style="color:green">@Model.Gender</h1><br/>
<h1 style="color:green">@Model.State</h1><br/>
<h1 style="color:green">@Model.City</h1><br/>
<h1  style="color:green">@Model.Birth_date</h1><br/>
<h1 style="color:green">@Model.Pincode</h1><br/>
<h1 style="color:green">@Model.Course</h1><br/>
<h1 style="color:green">@Model.Email</h1><br/>



